* {
    display: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --tx-pr-blue: hsl(238, 29%, 16%);
    --tx-pr-red: hsl(14, 88%, 65%);
    --tx-nt-grayish-blue: hsl(237, 12%, 33%);
    --tx-nt-dark-grayish-blue: hsl(240, 6%, 50%);
    --dividers-light-grayish-blue: hsl(240, 5%, 91%);
    --bk-gradient-soft-violet: hsl(273, 75%, 66%);
    --bk-gradient-soft-blue: hsl(240, 73%, 65%);
}

body {
    height: 100dvh;
    background: linear-gradient(var(--bk-gradient-soft-violet), var(--bk-gradient-soft-blue));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

/* desktop */
main {
    height: fit-content;
    width: 80%;
    background-color: white;
    display: flex;
    border-radius: 2rem;
    flex-direction: raw;
    gap: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 2vw bottom -8vh;
}

.woman-container {
    position: relative;
    overflow: hidden;

}

#woman {
    margin-top: 35%;
    margin-left: -23%;
    margin-bottom: 25%;
    width: 120%;

}

#box {
    width: 20%;
    position: absolute;
    top: 45%;
    left: -12%;

}

.questions,
section {
    display: flex;
    flex-direction: column;
}

.questions {
    flex: 2;
    justify-content: center;
    padding-right: 7rem;

}

section {
    min-width: 15rem;
    padding-block: 1rem;
    gap: 1.5rem;

}

.question-block {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 36px;

}

header {
    padding-bottom: 2rem;
}

/* styling */
h1 {
    color: var(--tx-pr-blue);
}

.question {
    font-size: 14px;
    color: var(--tx-nt-grayish-blue);
}

.answer {
    color: var(--tx-nt-dark-grayish-blue);
}

hr {
    color: var(--dividers-light-grayish-blue);
}

.question:hover {
    color: var(--tx-pr-red);
    font-weight: 700;
    cursor: pointer;
}

/* mobile */
@media screen and (max-width: 800px) {

    main {
        margin-inline: auto;
        margin-top: 10rem;
        padding-inline: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        gap: 0.5rem;

    }

    .images {
        background-image: url(./images/bg-pattern-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: unset;
        padding-bottom: 2.5rem;


    }

    .woman-container {
        position: relative;
        overflow: visible;
    }

    #woman {
        margin-top: -45%;
        margin-bottom: 10%;
        width: 100%;
        margin-left: unset;

    }




    #box {
        width: 30%;
        position: absolute;
        top: -7%;
        left: 6%;

    }

    .questions {
        padding-right: 0;
    }

    section {
        gap: 1rem;


    }

    .question-block {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }

}